Package: com.jaydendagsa.BigSurExpanded
Name: BigSurExpanded
Version: 0.2
Architecture: iphoneos-arm
Description: A theme with Big Sur styled icons.
Author: Jayden Dagsa <jayden.dagsa@gmail.com>
Maintainer: Jayden Dagsa <jayden.dagsa@gmail.com>
Section: Themes
Depends: com.spark.snowboard | com.anemonetheming.anemone, com.alt.bigsur, com.tigisoftware.filza, com.spark.snowboard.settingsicons, com.spark.snowboard.ui, com.spark.snowboard.dock, firmware(>=7.0)
SileoDepiction: https://github.com/JDagsa/JDagsa.github.io/blob/master/depictions/BSE-SileoDepiction/com.jaydendagsa.bigsurexpanded_0.2_iphoneos-arm.json
Depiction: https://jdagsa.github.io/depictions/?p=com.jaydendagsa.bigsurexpanded_0.2_iphoneos-arm
