Package: com.jaydendagsa.BigSurExpanded
Name: BigSurExpanded
Version: 0.1~Beta9
Architecture: iphoneos-arm
Description: A theme with Big Sur styled icons.
Author: Jayden Dagsa
Maintainer: Jayden Dagsa
Section: Themes
Depends: com.anemonetheming.anemone | com.spark.snowboard
